@{
    ViewData["Title"] = "Данни";
}

<style>
    *{
         font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    h1{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 50px;
        text-align:center;
    }
</style>

<div class="top-div" style="background-color:forestgreen;height:400px;">
    <h1>Данни</h1>
</div>

<div class="container body-content">
    <h1><a id="CO2" />CO2</h1>
    

</div>
