@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>We are group of students from the High School of Mathematics who want to combine ecology and technology.<br />
We alredy have done some project whose mision is to measure meteorological data like temperature and humidity.<br />
But now we want to make your life better by giving the data to organisation that can clean all the polution.</p>

<div>
    <h3 style="color:green;">Want to help us to improve our service?</h3>
    <h4>- Make a <span style="color:green">donation</span> on Patreon</h4>
</div>