@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Varna, Bulgaria<br />
    High School Of Mathematics "D-r Petar Beron"<br />
    <abbr title="Administration">AP:</abbr>
    088 470 2534 - Kostadin Levkov<br />
    <abbr title="Programmer">PP:</abbr>
    088 470 2534 - Hristo Denev<br />
    <abbr title="Programmer">PP:</abbr>
    088 470 2534 - Asen Dotsinski<br />
    <abbr title="Marketing/Finances">M/FP:</abbr>
    088 470 2534 - Siana Dicheva<br />
    <abbr title="Marketing/Finances">M/FP:</abbr>
    088 470 2534 - Polina Bodurova<br />
</address>

<address>
    <strong>Support and Marketing:</strong> <a href="mailto:lit@mgberon.com">lit@mgberon.com</a><br />
</address>
