@{
    ViewData["Title"] = "Our Team";
}

<style>
    body
    {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .right-align
    {
        object-position:right;
    }
    .top-div {
        text-align: center;
        padding-top: 100pt;
        padding-bottom: 100pt;
        margin: 0pt;
        margin-bottom: 20pt;
        width: 100%;
        background: url('/images/BackgroundImage.jpg');
        background-size: cover;
    }
</style>

<div class="team-page-header">
    <h1>Our Team</h1>
</div>

<div style="display:inline-block; width: 100%; margin:20pt;">
    <img src="~/images/KostadinLevkov.jpg" class="img-responsive" style="float: right;position:relative;right: 25px;" />
    <div style="display: inline">
        <h2>Kostadin Levkov</h2>
        <h3>The Big Boss</h3>
        <p>This is our mentor - Kostadin Levkov.</p> <!--ADD MORE-->
    </div>
    
</div>

<hr>

<div style="display:inline-block; width: 100%; margin:20pt;">
    <img src="~/images/AsenDotsinski.png" align="left" class="img-responsive" style="padding-right:20pt;" />
    <div class="right-align">
        <h2>Asen Dotsinski</h2>
        <h3>Programmer</h3>
        <p>The most experienced programmer in the team.<br/> Leading the meteorological module department</p> <!--ADD MORE-->
    </div>
</div>

<hr>

<div style="display:inline-block; width: 100%; margin:20pt;">
    <img src="~/images/HristoDenev.jpg" style="float: right;position:relative;right: 25px;" class="img-responsive" />
    <h2>Hristo Denev</h2>
    <h3>Programmer</h3>
    <p>A very experienced programmer. Leading the web development department.</p> <!--ADD MORE-->
</div>

<hr>

<div style="display:inline-block; width: 100%; margin:20pt;">
    <img src="~/images/PolinaBodurova.png" align="left"  style="padding-right:20pt;" class="img-responsive" />
    <div class="right-align">
        <h2>Polina Bodurova</h2>
        <h3>Marketing, Administration and Finances</h3>
        <p> </p> <!--ADD MORE-->
    </div>
</div>

<hr>

<div style="display:inline-block; width: 100%; margin:20pt;">
    <img src="#" style="float: right;position:relative;right: 25px;" class="img-responsive" />
    <h2>Siana Dicheva</h2>
    <h3>Marketing, Administration and Finances</h3>
    <p></p> <!--ADD MORE-->
</div>

<hr>

<div style="display:inline-block; width: 100%; margin:20pt;">
    <img src="#" align="left"  style="padding-right:20pt;" class="img-responsive" />
    <div class="right-align">
        <h2>Martin Genchev</h2>
        <h3>Programmer</h3>
        <p>Part of the meteorological module department.</p> <!--ADD MORE-->
    </div>
</div>

<hr>

<div style="display:inline-block; width: 100%; margin:20pt;">
    <img src="#" style="float: right;position:relative;right: 25px;" class="img-responsive" />
    <h2>Aleksander Popvelichkov</h2>
    <h3>The Big Boss</h3>
    <p>Has a huge potential and is already very knowedgeable about technologies.<br/>Part of the meteorological module department. </p> <!--ADD MORE-->
</div>

<hr>

<div style="display:inline-block; width: 100%; margin:20pt;">
    <img src="#" align="left"  style="padding-right:20pt;" class="img-responsive" />
    <div class="right-align">
        <h2>Miroslav Atanasov</h2>
        <h3>Handyman</h3>
        <p>If you want a can of cola or snacks,<br/> Miroslav is the man for the job.</p> <!--ADD MORE-->
    </div>
</div>
